body{
	    background-color: #d3d3d3;
}

.wrap {
	
	background-color: #f3dfff; 

}

.main{
	background: #d3d3d3 ;
	margin-left: 45px;

}

li{
	display: inline;
	line-height: 40px;
	font-family: sans-serif;
	text-decoration: none;
}

li a{
	text-decoration: none;
	font-size: 16px;
}

header{
	line-height: 20px;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 20px;
} 

ul {
	float:bottom;
	height:50px;
}

img{
	width: 500px;
	height: 400px;
	margin-top: 10px;
	width: 470px;

}
.main p{
	margin-top: 10px;
	font-size: 15px;

}

.hero-image{
	background-position: center;
	color: #d3d3d3;
    background-image: url("/home/pravallika/Desktop/day2/logo.png");
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
}
.hero-text{
	text-align: center;
	position: absolute;
	top: 30%;
	left:30%;
	font-size: 50px;
	color: #050417;
}

footer{
	background-color: #F3DFFF;
	font-size: 20px;
	font-family: sans-serif;

}
footer img{
	background-color: #F3DFFF;
    height:50px;
    width:50px;
    float:right;
    padding-right: 30px;

}

