body{
	    background-color: #d3d3d3;
}
.wrap{
	background-color: #F3DFFF;

}

.wrap p{
	
	position: relative;
	width:300px; 
	height:50px;
	top: 20px;
	font-size: 25px;
	font-style: italic;

}

.main{
	background: #d3d3d3 ;
	margin-left: 45px;

}

li{
	display: inline;
	line-height: 40px;
	font-family: Arial;
	text-decoration: none;
	position:relative;
	left:800px;
	bottom: 50px;
}

li a{
	text-decoration: none;
	font-size: 16px;
}

.header{
	line-height: 20px;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 20px;
} 

ul {
	float:bottom;
	height:50px;
}

img{
	width: 500px;
	height: 400px;
	margin-top: 10px;
	width: 470px;

}
.main p{
	margin-top: 10px;
	font-size: 15px;

}

.main{
	margin-bottom: 70px;
}

.hero-image{
	background-position: center;
	color: #d3d3d3;
    background-image: url("../img/logo.jpg");
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 140px;
}
.hero-text{
	text-align: center;
	font-size: 50px;
	color: #050417;
}

footer{
	background-color: #F3DFFF;
	font-size: 20px;
	font-family: sans-serif;
	width: 100%;

}
footer img{
	background-color: #F3DFFF;
    height:50px;
    width:50px;
    float:right;
    padding-right: 30px;

}

.fixed-header{
	position:fixed;
	background-color: #F3DFFF;
	width:100%;
}

.fixed-footer{
	position: fixed;
	background: #F3DFFF;
	width: 100%;
	bottom: 0;
	left:0;
}